***CREATE .env FILE ON ROOT DIRECTORY AND ADD GIVEN VARIABLES THERE***

DATABASE_HOST=myapp-mysql
DATABASE_NAME=MyAppDb
DATABASE_PORT=3306
APP_DB_URL=jdbc:mysql://myapp-mysql:3306/MyAppDb?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=***ADD YOUR USERNAME OF MYSQL CONNECTION***
JWT_SECRET=***ANY SECRET***
DB_PWD=***DB CONNECTION PW***
HIB_DIA=org.hibernate.dialect.MySQL5Dialect
EMAIL_USER=***NEED TO ADD USERNAME OF EMAIL HERE***
EMAIL_PWD=***NEED TO ADD PASSWORD OF EMAIL HERE***
MYSQL_ROOT_PASSWORD=***DEPENDS ON YOUR ROOT PASSWORD OF MYSQL WORKBENCH***
MYSQL_USER=***ANY USERNAME FOR THE CONNECTION OF MYSQL DB***