<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.springframework" level="${TRIBES_LOG_LVL}"/>-->
    <logger name="com.greenfoxacademy.springwebapp" level="${TRIBES_LOG_LVL}"/>

</configuration>